PORT=<PORT>
MONGODB_URI=<Use Your MONGODB CONNECTING STRING>
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=<Use Your Access Token>
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=<Use Your Refresh Token>
REFRESH_TOKEN_EXPIRY=7d